* {
  box-sizing: border-box;
}

:root {
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;

  --grey-400: hsl(238, 18%, 35%);
  --grey-500: hsl(238, 17%, 45%);
  --purple-800: hsl(262, 85%, 79%);
  --purple-900: hsl(262, 90%, 93%);
}

.profile {
  float: right;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: var(--grey-400);
}
#linus {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

main {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
  line-height: 1.1;
}
body {
  background-color: var(--grey-500);
  color: var(--purple-900);
}

nav > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  max-width: 24rem;
}
nav > ul > li {
  padding: .5rem;
  margin: .5rem;
  background-color: var(--grey-400);
  border-radius: 0.5rem;
}
nav > ul > li > a {
  color: white;
  text-decoration: none;
}
nav > ul > li > a:hover {
  color: hsl(196, 67%, 80%);
}

h1 {
  text-align: center;
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--grey-400);
  color: white;
  width: 100%;
}
.ref-link {
  color: var(--purple-800);
}
.ref-link:hover {
  color: var(--purple-900);
}

.reference {
  color: var(--purple-800);
  font-size: 0.7rem;
}
.reference > a {
  color: inherit;
}
.reference > a:hover {
  color: var(--purple-900);
}