{% extends "base.html" %}
{% block title %}Item Shop - {{ item.name }}{% endblock %}

{% block content %}
<div class="container">

    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <img class="img-thumbnail" src="{{ url_for('static', filename=item.image) }}"
        alt="{{ item.name }} flag" width="512" height="256"
        style="display: block; margin-bottom: 20px;">

    <p>Price: £{{ numerize(item.price) }}</p>
    <p>Eco Impact: {{ item.eco_impact }} Mt CO2e / yr</p>

    {% if in_basket %}
    <form action="/" method="POST">
        <input type="hidden" name="remove_item_id" value="{{ item.id }}">
        <button class="btn btn-danger">Remove from basket</button>
    </form>
    {% else %}
    <form action="/" method="POST">
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <button class="btn btn-primary">Add to basket</button>
    </form>
    {% endif %}
    <span class="btn btn-link"><a href="{{ url_for('index') }}">Back to shop</a></span>

</div>
{% endblock %}
